@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;

  --color-dashboard: #2c8aad98;
}
